<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant Menu</title>
</head>

<body>
  <h3>All Menu Items</h3>

  <!-- ADD BUTTON HERE -->
  <form method="GET" action="/menu/new">
    <button>Add New Dish</button>
  </form>

  <ul>
    <% for (let item of allMenuItems) { %>
      <li>
        <a href="/menu/<%= item._id %>"><%= item.name %></a>
      </li>
    <% } %>
  </ul>
</body>
</html>
